<app-header
  (callback)="handleSearch($event)"
  description="Pessoas"
  buttonDescription="Nova Pessoa"
  modalToOpen="#formPeople">
</app-header>

<div class="container mt-3 mt-lg-5">
  <div class="card shadow-lg">
    <div class="card-body">
      <table class="table table-sm">
        <thead class="table-dark">
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">CPF</th>
            <th class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Telefone</th>
            <th class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Email</th>
            <th class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Estado</th>
            <th class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Cidade</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of data">
            <td>{{ person.name }}</td>
            <td>{{ person.lastName }}</td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">{{ person.cpf }}</td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">{{ person.phone }}</td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">{{ person.email }}</td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">{{ person.state }}</td>
            <td class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">{{ person.city }}</td>
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#formPeople" (click)="setPersonForUpdate(person.id)"><i class="bi bi-pencil"></i></a></td>
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#deletePeople" (click)="setPersonForDelete(person.id, person.name, person.lastName)"><i class="bi bi-trash3"></i></a></td>
          </tr>
        </tbody>
      </table>

      <div class="gap-2 d-flex justify-content-center">
        <button class="btn btn btn-outline-dark" type="button" [disabled]="page == 1" (click)="navFirst()"><i class="bi bi-chevron-double-left"></i></button>
        <button class="btn btn btn-outline-dark" type="button" [disabled]="page == 1" (click)="navPrevious()"><i class="bi bi-chevron-left"></i></button>
        <button class="btn btn btn-outline-dark" type="button" [disabled]="page == lastPage" (click)="navNext()"><i class="bi bi-chevron-right"></i></button>
        <button class="btn btn btn-outline-dark" type="button" [disabled]="page == lastPage" (click)="navLast()"><i class="bi bi-chevron-double-right"></i></button>
      </div>
    </div>
  </div>
</div>

<app-form-people></app-form-people>
<app-delete-people (callback)="getPeople()"></app-delete-people>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="notificationToast" class="toast text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{ notification }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
